body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7cab78;
}

#splashHeader img {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.pTable {
  display: inline-block;
  overflow-y: scroll;
  max-height: 400px;
}

table {
  text-align: center;
  margin:auto;
}
